.navbar-toggler:focus {
    box-shadow: none !important;
}
@font-face {
    font-family:Noor;
    src: url(./Fonts/NootFont.ttf);
}
@font-face {
    font-family:Almarai;
    src: url(./Fonts/Almarai.ttf);
}
*{
    font-family: Noor;
}
body {
    width: 100vw;
    overflow-x: hidden;
    
}

/* start of all nav */
/* Start of First Nav */
.MainFooterDiv{
    background-image: url(./photos/الشكل.png);
    padding-bottom: 100px;
    overflow: visible;
    background-repeat: no-repeat;
    background-position: 40%;
   
}
.navbar-toggler {
    color: #707070 !important;
    font-size: 32px !important;
    position:  absolute;
    top: 0%;
    right: 12%;
    
}
.dropdown-menu {
    background-color: rgb(240, 240, 240) !important;
}
.NavDropDownItem {
    background-color: rgb(240, 240, 240) !important;
}
.NavDropDownItem  a {
    display: flex;
    justify-content: start;
}
.navbar-nav {
    --bs-nav-link-color: #707070 !important;
}
.navbar-nav a:hover {
    --bs-nav-link-color: #707070 !important;
}
.NavDropDownStyle a {
    color: #707070 !important;
    text-decoration: none;
    float: right;
    font-size: 12px;
}
.NavDropDownStyle a:hover {
    color: #707070 !important;
}
.NavDropDownStyle a:hover {
    color: #707070 !important;
}
.NavDropDownLinks {
    color: white;
    text-decoration: none;
    float: right;
    height: fit-content;
    width: fit-content;
    margin: 5px;
}
.NavDropDownLinks:hover {
    color: white;

}
.MainNavlinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.MainNavlinks a {
    text-decoration: none;
    color:  #707070;
    font-size: 16px;
}
  .MainNavlinks a:hover {
    color:  #707070;
}
.SearchLinksRight {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}
.wrapper .search-input{
    background: #fff;
    color: black;
    font-weight: bold;
    border-radius: 25px;
    border: 1px solid black;
    position: relative;
    height: fit-content;
    width: 156px;
    

  }
  .search-input input{
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 0 10px 0 20px;
    font-size: 14px;
    box-shadow: 0px 1px 5px rgba(0,0,0,0.1);
    height: fit-content;
    position: relative;
    height: 20px;
    
  }
  .search-input input:focus{
    box-shadow: none;
  }
  .search-input.active input{
    border-radius: 5px 5px 0 0;
  }
  
  .search-input .autocom-box{
    padding: 0;
    opacity: 0;
    pointer-events: none;
    max-height: 280px;
    overflow-y: auto;
    
  }
  
  .search-input.active .autocom-box{
    padding: 10px 8px;
    opacity: 1;
    pointer-events: auto;
    
  }
  .search-input.active .autocom-box li{
    display: block;
    
  }
  .autocom-box li:hover{
    background: #efefef;
  }
  
  .search-input .icon{
    position: absolute;
    left: 0px;
    top: -5px;
    width: 35px;
    text-align: center;
    font-size: 16px;
    color:  #E6E6E6;
    cursor: pointer;
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    float: right;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    float: right;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    float: right;
  }
  /* End of First Nav */

/* Start of  Green Nav Section */
.MainGreenNav {
    background-color: #1d733f58;
    padding-top: 30px ;

}
.MainGreenNavRow {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    
}
.MainGreenNavRow div{
    padding: 0;
    
}
.NavDropDownStyleDrop {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.NavDropDownStyleDrop a {
    color: #707070 !important;
    text-decoration: none;
    float: right;
    
}
.NavDropDownStyleDrop a a{
    width: 100%;
    text-align: start;
    
}
.NavDropDownStyleDrop a:active {
    background-color: rgba(255, 255, 255, 0.225);
    
    
}
.NavDropDownStyleDrop a:hover {
    color: #707070 !important;
}
.NavDropDownStyleGr {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.NavDropDownStyleGr a {
    color: #707070 !important;
    text-decoration: none;
    float: right;
}

.LastNavCont {
    max-width: 100% !important;
}
.LastNavRow {
    justify-content: space-between !important;
    align-items: center;
    flex-wrap: nowrap !important;

}
.LastNavRow .col {
    text-align: center !important;
}
.LastNavPara {
    padding: 20px 20px;
    background-color: #d9751773;
    border-radius: 10px;
    width: fit-content;
    color: white;
    text-align: center;
    margin: 0% !important;
    font-size: 24px;
    font-family: Almarai;
}
.LastNavMaqirCol {
    align-self: flex-end;
}
.HidAndBlock {
    display: none !important;
    height: 100vh;
}
.CanvasStylingOnNAv {
    display: none;
}
.CanvasStylingOnNAv button {
    padding: 0 !important;
}
@media screen and (min-width:1px ) and (max-width:992px) {
    .CanvasStylingOnNAv {
        display: block;
    } 
   
    .ToMakeHundHei  {
        height: 100vh;
    }
    .MainGreenNavCont{
        display: none;
    }
    .LastNavPara {
        font-size: 10px;
    }
    .LastNavRow img {
        width: 100px;
    }
    .SearchLinksRight {
        display: none;
    }
    .DropDownFixedStyling{
    display: none;
    }
    .NavDropDownStyle {
        text-align: center;
        margin: 10px;
        height: fit-content;


    }
    .NavDropDownStyle a {
        float: none;
    }
    .MainFooterDiv{
        padding-bottom: 50px;
        background-position: 25%;
        background-size: contain;
    }
    .DivToCloseSideNav{
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        width: 70%;
        background-color: rgba(0, 0, 0, 0.225);
        display: none;
    }
    .HidAndBlock {
        display: block !important;
    }
}
@media screen and (min-width:1px ) and (max-width:510px) {

.DropDownFixedStyling{
    width: 100%;
    z-index: 4;
    
    }
    .DivToCloseSideNav{
        width: 0;
        display: none;

    }
.navbar-toggler {
    color: #707070 !important;
    font-size: 32px !important;
    position:  absolute;
    top: 0%;
}}

/* End of  Green Nav Section */
/* End of  Green Nav Section */


/* Start of Footer Style */
.MainFooterdiv {
    background-color: #1d733f58;
    width: 100vw;
    overflow-x: hidden;
    padding: 50px 0 10px;
}
.FirstFooterCont {
    flex-direction: row-reverse;
    align-items: flex-start;
}
.FirstFooterCont a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.632);
    font-size: 14px;
}
.FirstFooterCont a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.632);
}
.ColFooterCont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.ColFooterCont h4{
    font-size: 22px;
}
.ColFooterCont div {
    text-align: end;
    
}
.ColFooterContDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.ColFooterContDiv div {
    display: flex;
    justify-content: end;
    align-items: center;
    flex-wrap: nowrap;
}
.LastImgFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px 0 20px;
}
.LastFooterPara h4 {
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    direction: rtl;
    color: black;
    opacity: 0.3;
}

@media screen and (min-width:1px) and (max-width:510px) {
    .ColFooterCont h4{
        font-size: 12px;
    }
    .FirstFooterCont a {
        font-size: 8px;
    }
    .LastFooterPara h4 {
        font-size: 10px;
    }
}
/* End of Footer Style */


/* Start of Main Home Style (1st Section) */
.MainHomeMAinDiv {
    background-image: url(./photos/Rotatedpic.png), url(./photos/Rotatedpic.png) !important;
    background-repeat: no-repeat;
    background-position: -0% , 100% ;
}


.MainHomeCont {
    display: flex;
    flex-direction: column;
    justify-content: Start;
    align-items: center;
    gap: 20px;
    padding-bottom: 50px;
    
    

}
.MainHomeRowFDiv {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    font-size: 30px;
}
.MainHomeRowFDiv h3 {
    margin-bottom: 0;
    font-size: 30px;
    color: #707070;
}
.MainHomeRowSDiv {
    direction: rtl;
    display: flex;
    justify-content: end;
    text-align: center;
}
.MainHomeRowSDiv h4 {
    text-decoration: none;
    font-size: 22px;
    line-height: 35px;
    color: #707070;
}
.MainHomeLinkCol {
    display: flex;
    justify-content: center;
}
.MainHomeLinkCol a {
   text-decoration: none;
   padding: 5px 10px;
   font-size: 18px;
   background-color: #D97417;
   color: white;
   border-radius: 10px;
}
.MainHomeLinkCol a:hover{
    color: white;
}
/* End of Main Home Style (1st Section) */

/* Start of Main Home Style (2nd Section) */
.MainHomeSecCont {
    background-color: #7070706b;
    overflow-x: hidden;
}
.MainHomeSecCont img {
    width: 292px;
    height: 197px;
    margin-bottom: 20px;
}
.MainHomeSecRow {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
}
.MainHomeColPressHere {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.PrevPressHereText {
    font-size: 40px;
    color: #414141;
}
.MainHomeSecRow a {
    padding: 10px 15px;
    color: white;
    background-color: #D97417;
    text-decoration: none;
    border-radius: 15px;
    
}
.MainHomeSecRow a:hover {
    color: white;
    background-color: #D97417;

}

/* End of Main Home Style (2nd Section) */

/* Start of Main Home Style (3nd Section) */

.MainHomeThirdRow{
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap !important;
    padding-top: 100px;
    margin:0 0 300px !important;
}
.MainHomeThirdLeftCol {
    display: flex;
    flex-direction: column;
    direction: rtl;
    align-items: end;
    justify-content: baseline;
    padding: 20px 30px;
    background-color: #e1fcf57f;
    border-radius: 20px;
}
.MainHomeThirdLeftCol h3 {
    font-size: 30px;
}
.MainHomeThirdLeftCol h4 {
    font-size: 22px;
    line-height: 40px;
}
.MainHomeHorzPics {
    align-self: center;
    padding-top: 20px;
}
.MainHomeShkBaqer{
     height:465px !important;
     border-radius: 25px;
}
.MainHomeShkBaqerCol {
    text-align: center;

}
.LastLinkMainHome {
    text-decoration:underline;
    color: #D97417;
    margin-right: 20px;
    direction: rtl;

}
.LastLinkMainHome:hover {
    text-decoration:underline;
    color: #D97417;
}
@media screen and (min-width:1px) and (max-width:768px) { 
    .MainHomeShkBaqer {
        width: 260px !important;
         height:290px !important;
    }
    .MainHomeThirdLeftCol h3 {
        font-size: 10px;
    }
    .MainHomeThirdLeftCol h4 {
        font-size: 8px;
        line-height: 30px;
    }



}



@media screen and (min-width:1px) and (max-width:576px) {
    .MainHomeShkBaqer {
        width:180px !important;
         height:184px !important;
    }
    .MainHomeThirdLeftCol h3 {
        font-size: 10px;
    }
    .MainHomeThirdLeftCol h4 {
        font-size: 8px;
        line-height: 20px;
    }
    .MainHomeThirdRow{
        margin:0 0 150px !important;
    }
}

/* End of Main Home Style (3nd Section) */

/* Start of Main Home Expand Style */

.MainHomeExMainDiv{
    background-image: url(./photos/Rotatedpic.png), url(./photos/Rotatedpic.png);
    background-position: -25% 80% , 100% 65%;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-y: hidden;
}
.MainHomeRowFContExpand{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    direction: rtl;
    margin-bottom: 80px;
    width: 100vw;
    overflow-x: hidden;
    gap: 40px;
}
.MainHomeRowFDivExpand {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 10px;
    font-size: 30px;
    direction: ltr;
}
.MainHomeRowFDivExpand h3 {
    margin-bottom: 0;
    color: #707070;
    font-family: Almarai;

}
.MainHomeexpandDiv h4 {
font-size: 22px;
color: #707070;

}

.MainHomeexpandDiv {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #707070 ;
    font-family: Noor;
}
.MainHomeexpandDiv span {
    font-family: Almarai ;
}
@media screen and (min-width:1px) and (max-width:510px) {
    .MainHomeRowFDivExpand {
        font-size: 10px;
    }
}
/* End of Main Home Expand Style */

/* Start of About Baqir Page */
.AboutBaqirMainDiv{
    background-image: url(./photos/Rotatedpic.png), url(./photos/Rotatedpic.png);
    background-position: -25% 80% , 100% 65%;
    background-repeat: no-repeat;
}
.AboutBaqirTextAImg {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap !important;
    padding-top: 50px;
    margin: auto;
}
.AboutBaqirMainDiv  span {
    font-size: 22px;
}
.AboutBaqirMainDiv  h4 {
    font-size: 22px;
    line-height: 35px;
}
.AboutBaqirTextAImgLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.AboutBaqirDiv {
    display: flex;
    flex-direction: column;
    gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #707070 ;
    font-family: Noor;
}
.AbuutBaqirShkBaqer{
    height:402px !important;
    border-radius: 25px;
}
.BelowBqirPic {
    margin-top: 50px !important;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
@media screen and (min-width:1px) and (max-width:940px) { 
    .AbuutBaqirShkBaqer{
        width:200px !important;
        height:220px !important;
        border-radius: 25px;
    }
    .AboutBaqirMainDiv  span {
        font-size: 18px;
    }
    .AboutBaqirMainDiv  h4 {
        font-size: 18px;
    }
    .AbuutBaqirShkBaqerCol {
        align-self: flex-start;
    }



}
@media screen and (min-width:1px) and (max-width:510px) {
    .AboutBaqirMainDiv  span {
        font-size: 10px;
    }
    .AboutBaqirMainDiv  h4 {
        font-size: 10px;
    }
    .AbuutBaqirShkBaqer{
        width:123px !important;
        height:126px !important;
        border-radius: 25px;
    }
}
/* End of About Baqir Page */

/* Start Req Steps Main Div */
.ReqStepsMainDiv {
    background-image: url(./photos/Rotatedpic.png), url(./photos/Rotatedpic.png);
    background-position: -25% 80% , 100% 65%;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
}
.ReqStepsMainCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding-bottom: 150px;
    width: 100% !important;
    
}
.ReqStepsRowsMain {
    position: relative;
    background-color: #BCD6C7;
    border-radius: 15px;
    direction: rtl;
    padding: 25px;
    text-align: center;
    width: 100%;
}
.ReqStepsRowsMain h3 {
    font-size: 20px;
    color: #707070;
    line-height: 40px;

}
.ReqStepsSpanMain {
    padding: 1% 2%;
    background-color: #707070;
    color: white;
    font-size: 30px;
    position: absolute;
    top: -35px;
    left: 46%;
    border-radius: 50%;
}
/* End Req Steps Main Div */

/* Start of Contactus Section */
.ContactMainDiv {
     background-image: url(./photos/Rotatedpic.png), url(./photos/Rotatedpic.png);
    background-position: -25% 80% , 100% 65%;
    background-repeat: no-repeat;
    width: 100vw;
    overflow-x: hidden;
    
}
.ContactMainDiv p {
    color: #D97417;
    font-size: 16px;
    text-shadow: 0.5px 0.5px 10px;
    font-weight: bold;
}
.PsuedoEleRed::after {
    content: "";
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    opacity: 0.7;
}
.ContactMainForm {
    direction: rtl;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
    margin-top: 100px;
}
.ContactMainForm h4 {
    color: #707070;
}
.ContactMainForm input {
    height: 55px;
    border-radius: 15px;
    border: solid 1px gray;
    padding-right: 10px ;
}
:placeholder-shown {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
}
.FormSelStyle {
    direction: rtl;
}
.form-select {
    cursor: pointer;
    background-position: left 0.75rem center !important;
    background-image: url(./photos/downarrow.png) !important;
    background-size: 22px !important;
    padding-right: 30px !important;
    padding-left: 30px !important;
    font-size: 18px !important;
    background-color: #414141 !important;
    color: white !important;
    border-radius: 15px;
    width: 100vw !important;
    height: 50px;

}
.Styleinputwidth {
    width: 20vw;
}
.Styleformwidth {
    width: 30vw !important;
}
.StyleTextwidth {
    width: 40vw ;
    height: 40vh !important ;
    border-radius: 25px;
    padding: 30px;

}

.OptSelStyle {
    font-size: 18px !important;
    text-align: center !important;
    line-height: 35px !important;
    background-color: transparent !important;
}
.submitButStyleDiv {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 50px 0 100px ;
    
    
}
.submitButStyle {
    background-color: #D97417;
    color:white;
    opacity: 0.7;
    transition-duration: 0.25s ;
    min-width: 15%;
    font-family: Almarai;
    
}
.submitButStyle:hover {
    opacity: 1;
}
@media screen and (min-width:1px) and (max-width:577px) {
    .Styleinputwidth {
        width: 50vw;
    }
    .Styleformwidth {
        width: 60vw !important;
    }
    .StyleTextwidth {
        width: 80vw ;
    
    }
}
/* End of Contactus Section */
/* Start of  AboutUs Section */
.AboutUsEditMain {
    margin-bottom: 20px;
}
/* End of  AboutUs Section */

/* start of PrizeCo Section */
.FirstSecPrizeCo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
/* End of PrizeCo Section */

/* start of sign In Section */
.SignInMainCont {
    margin-bottom: 100px;
}

.SignInMainData  {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.CheckboxDiv {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    margin: -30px 0 0;
}
.CheckboxDiv input {
    cursor: pointer;
}
.SignInMainData {
    width: 100%;
}
.SignInMainForm {
    align-items: flex-start !important;
    gap: 30px;
}
.StyleinputwidthSign {
    width: 50vw !important;
}
.SignInButnDiv{
    margin-bottom: 10px !important;
}
.SignInButn {
    border-radius: 15px;
    height: 50px;
    border: none;
}
.SignInMainCont h4 {
    font-size: 18px;
    font-family: Almarai;
}
.SignInForgDiv h3 span {
    margin-right: 5px;
    
}
.SignInForgDiv h3{
    font-size: 12px;
    color: #707070;
    direction: rtl;
}
.SignInForgDiv h3 span a{
    color: #D97417 !important;
    text-decoration: underline;
    font-size: 10px;
}
.SignInNewDiv {
    margin-top: -30px;
}
.SignInNewDiv a {
    text-decoration: underline;
    color: #707070 !important;
    font-size: 12px;
}
@media screen and (min-width:1px) and (max-width:512px) {
    .SignInMainCont input::placeholder {
        font-size: smaller;
    }
}
/* End of sign In Section */
/* Start of Profile Info Section */
.ProfileInfoMainCont  {
    padding: 0 !important;
    width: 100vw;
    overflow-x: hidden ;
}
.ProfileInfoMainCont .ProfAboRow h3 {
    color: #D97417;
}
.ProfileInfoMainCont .ProfAboRow img {
    border-radius: 50%;
    width: 190px;
    height: 190px;
}
.ProfileInfoProfIco {
    position: relative;
    margin-bottom: 30px;
}
.ProfileInfoEditico {
    border-radius: 50%;
    width: 30px;
    font-size: 18px;
    position: absolute;
    text-align: center;
    background-color: white;
    right: 15%;
    top: 85%;
    z-index: 2;
    cursor: pointer;
}
.ProfAboutTableText table {
    background-color:#bcd6c747;
    border-radius: 20px;
}
.ProfAboutTableText th {
    padding-right: 40px;
    font-size: 28px;
    font-family: Almarai;
    color: #707070;
}
.ProfAboutTableText td {
    display: flex;
    justify-content: center;
    text-align: justify;
    direction: rtl;
    text-align: center;
    padding: 40px;
    font-size: 22px;
    font-family: Noor;
    color: #707070;
    opacity: 0.8;
}
@media screen and (min-width:1px) and (max-width:610px) {
    .ProfAboutTableText th {
        font-size: 10px;
    }
    .ProfAboutTableText td {
        font-size: 10px;
    }
    
}
/* End of Profile Info Section */

/* start of register span */
.ReqSpanTopDiv  {
    margin-top: 20px;
}
.ReqSpanTopDiv  .ReqSpanTop {
    text-align: center;
    display: flex;
    font-size: 22px;
    color: #707070;
}
@media screen and (min-width:1px) and  (max-width:771px) {
    .ReqSpanTopDiv .ReqSpanTop  {
        font-size: 12px;
        
    
    }
}
/* End of register span */

/* start of Models section */
.ModelsTableTextTable {
    /* border: 2px solid black !important; 
    border-radius: 20px   !important; */
    border-collapse: separate !important;
    border-spacing: 0 !important;
    border: solid #ccc 2px !important;
    -moz-border-radius: 6px !important;
    -webkit-border-radius: 6px !important;
    border-radius: 20px !important;
    -webkit-box-shadow: 0 1px 1px #ccc !important;
    -moz-box-shadow: 0 1px 1px #ccc !important;
    box-shadow: 0 1px 1px #ccc !important;
    overflow: hidden !important;
}
.ModelsTableTextRow td {
    padding: 30px;
    font-size: 22px;
    text-align: center;

}
.ModelsTableTextRow td:first-child {
    border-left: 2px solid #ccc !important;

}
.ModelsTableTextRow td:nth-child(2){
    border-left: 2px solid #ccc !important;

}
.ModelsTableTextRow:first-child{
    outline: 2px solid #ccc !important;

}

.TableDDate {
    color: #D97417;
}

@media screen and (min-width:1px) and  (max-width:771px) {
    .ModelsTableTextRow td {
        padding: 30px;
        font-size: 12px;
        text-align: center;
    
    }
}
/* End of Models section */
/* Start of Change Pass Section */
.ChangePassFormEdit {
    margin-top: 20px !important;
}
@media screen and (min-width:1px) and  (max-width:771px) {
    .ChangePassFormEdit input::placeholder{
        font-size: 10px;
    
    }
}
/* End of Change Pass Section */